/* estilos en general */
a{
    color: white;
}
a:hover{
    color: #565657;
    text-decoration: none;
}
h6{
    color: white;
}

.linea{
    max-width: 7.25rem;
    border-width: 0.2rem;
    border-color:  #0084e3;
}
.proyecto_scroll{
    padding-top: 68px;
    
}

html{
    scroll-behavior: smooth;
    }
/* estilos navbar */

.menu{
    background-color:rgba(0, 0, 0, 0.4);
    height: 75px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid #fff; */
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.397) ;
    position: fixed;
    z-index: 9;
}

.logo{
    color: seashell;
    font-size: 35px;
    padding: 0 21px;
    font-weight: bold;
    margin-top: 6px;
}

.menu_items{
    display: flex;
    list-style: none;
    margin-right: 30px;
    margin-top: 15px;
}

.menu_items li{
    border-radius: 3px;
    margin: 0 5px;
}

.menu_items li a{
    padding: 7px 13px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    text-transform: uppercase;
    color: #fff;
}

.menu_items li:hover, li.active{
    background-color: #0084e3;
    transition: .4s;

}

.btn_menu{
    margin-right: 30px;
    font-size: 25px;
    color: rgb(252, 252, 252);
    cursor: pointer;
    display: none;
    z-index: 10;
}

ul.show{
    top: 49px;
}

@media screen and (max-width: 952px){
    .logo{
        font-size: 30px;
        padding-left: 35px;
    }
    .menu_items li a{
        font-size: 16px;
    }
}
@media screen and (max-width: 858px){
    .menu{
        height: 65px;
    }
    .btn_menu{
        display: inline-flex;
    }
    .menu_items{
        position: fixed;z-index:11 ;
        width: 100vw;
        height: calc(100% - 49px);
        background: #414141;
        top: -100vh;
        text-align: center;
        transition: all .5s;
        flex-direction: column;
    }
    .menu_items li{
        margin: 30px 0 0 0;
        line-height: 30px;
    }
    .menu_items li:hover{
        background: none;
    }
    .menu_items li a{
        font-size: 20px;
        color: #fff;
        font-weight: bold;
    }
    .menu_items li a:hover{
        color:rgba(0, 0, 0,0.44);
    }
    .logo{
        font-size: 25px;
        padding-left: 20px;
        
    }

    .img_logo{
        width: 100%;
    }

}
@media screen and (max-width: 858px) and (orientation: landscape){
    .menu_items li{
        margin: 5px 0 0 0;
    }
    .menu_items {
        overflow: scroll;
        height: calc(100% - 49px);
    }
}

.set_color{
    background-color:rgba(0, 0, 0, 1);
}

/* estilos de carousel */

.carousel{
    z-index: 1;
}

.carousel-caption{
    bottom: 36%;
    font-size: 66px;
}

.carousel-caption p{
    background-color: #0c70b773;
    border-radius: 0px;
}

/* estilos de footer */

#submenu{
    background-color: rgb(59, 60, 63);
    /* padding-bottom: 45px;
    padding-top: 45px; */
}

p{
    color: white;
    
    
}

@media only screen and (max-width: 768px){
    .carousel-caption {
        bottom: 20% !important;
        font-size: 38px !important;
    }
}

@media only screen and (max-width: 568px){
    .carousel-caption {
        bottom: 20% !important;
        font-size: 27px !important;
    }

    .menu{
        background-color: black;
    }

    #carouselExampleCaptions{
        padding-top: 65px;
    }
}

@media only screen and (max-width: 420px){
    .carousel-caption {
        bottom: 1% !important;
        font-size: 20px !important;
    }   
}



/* estilos de NOSOTROS */

.texto{
    text-align: justify;
    
}
.texto_contenido{
    color: black;
    text-align: left;
    text-align: justify;
}

.content_m_p{
    padding-bottom: 28px;
    padding-top: 28px;
}
.content_n{
    padding-bottom: 16px;
}
.nosotros{
    padding-top: 16px;
}


/* estilos productos */

.productos{
    padding-top: 16px;
}


/* estilos productos */

.hovereffects{
    width: 100%;
    height: 100%;
    overflow: hidden ;
    position: relative;
    text-align: center;
    cursor: default;
    margin-bottom: 12px;
}

.hovereffects .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.hovereffects{
    display: block;
    position: relative;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
    
}

.hovereffects h4{
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transform: translateY(-80px);
    -ms-transform: translateY(-80px);
    transform: translateY(-80px);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    padding: 10px;
}

.hovereffects a.info{
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin: 50px 0 0;
    padding: 7px 14px;
}

@media only screen and (max-width: 768px){
    .hovereffects .overlay{
    background-color: #0084e300;
    opacity: 1;
    filter: alpha(opacity=100);
    }

    .hovereffects h4, .hovereffects a.info{
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    }

    .hovereffects a.info{
        background-color: #0084e381;
    }
    
    
}




@media only screen and (min-width: 790px){
    .hovereffects a.info:hover{
        box-shadow: 0 0 5px #fff;
    
    }
    .hovereffects:hover img{
        -ms-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    
    .hovereffects:hover .overlay{
        background-color: #00000091;
        opacity: 1;
        filter: alpha(opacity=100);
    }
    
    .hovereffects:hover h4, .hovereffects:hover a.info{
        opacity: 1;
        filter: alpha(opacity=100);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    
    .hovereffects:hover a.info{
        -webkit-transition-delay: .2s;
        transition-delay: .2s;
    }
}



/* estilos de carousel de proyectos */

/* .owl-dot{
    height: 15px;
    width: 45px;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
    margin: 0 5px;
    border: 2px solid #0084e3!important;
    transition: all 0.3s ease;
}
.owl-dots{
    text-align: center;
    margin-top: 40px;
}

.owl-dot:hover,
.owl-dot.active{
    background:  #0084e3!important;
} */
.owl-nav{
    background: #ffffff00 !important;
}
.owl-next , .owl-prev{
    background: #0086e6 !important;
}

/* .item{
    -webkit-filter: grayscale(100%);
}
.item:hover{
    -webkit-filter: grayscale(0%);
    
} */

.owl-dot span{
    background-color:#ffffff00 !important;
}




/* estilos contacto */




