.img_head {
    position: relative;
    width: 100%; /* for IE 6 */
    }
    h2 {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
    }

.titulo_producto{
    position: absolute;
    top: 200px;
    left: 0px;
    width: 100%;
    text-align: center;
    font-size: 75px;
    color: white;
    background-color: rgba(100, 148, 237, 0.637) ;
    border-radius: 100px;
}